<!--Error messages-->
<mat-card>
  <ng-template [ngIf]="error.Message">
    <mat-card-title>
      {{error.Message}}
    </mat-card-title>
    <mat-card-content>
      <mat-list mini *ngIf="error.ModelState">
        <mat-list-item *ngFor="let msg of error.ModelState | extractModelErrors">
          <mat-icon mat-list-icon>lens</mat-icon>
          <p>
            <span> {{msg}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </ng-template>
  <mat-card-content *ngIf="error.error_description">{{error.error_description}}</mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="clear.emit()">
      Close
    </button>
  </mat-card-actions>
</mat-card>
