@import '../../../../../assets/styles/theme/palettes';
mat-card {
  background: map-get($moonshot-red, A200);
  color: map-get(map-get($moonshot-red, contrast), A200);
  animation: fadeInUp .5s alternate;
}

mat-icon {
  text-align: center;
  line-height: 1.9;
  font-size: .8rem !important;
  width: 16px !important;
  height: 16px !important;
}

p {
  margin: 0;
  max-width: calc(100% - 2.4rem);
}

.material-icons {
  font-size: 1.3rem;
}
