@import 'variables';
@import 'mixins';
@import '../theme/palettes';
html,
body {
  height: 100%;
}

html {
  font-size:16px;
}

:root {
  font-size: 62.5%;
}
// body {
//  //@include calc( font-size, '1em + .35vw');
// }

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold; // text-transform: uppercase;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
  margin: 0;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}


/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}


/* close commented backslash hack */

[centerized] {
  margin: 0 auto;
  position: relative;
  top: 13rem;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

// .btn-raw {
//   all: unset;
//   cursor: pointer;
// }
.input-raw {
  background-color: transparent;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  border: 0 none;
}

.overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(white, .8);
}

// .page-title {
//   float: left;
//   &~button {
//     float: right;
//     transform: translateY(40%);
//   }
//   &>i {
//     /*margin-right: .3em;*/
//     vertical-align: sub;
//   }
// }
// .material-icons {
//   vertical-align: middle;
//   /*margin-right: .25em;*/
// }
mark {
  border-radius: 2px;
  padding: 0px 1px;
  margin: 0 -1px;
}

.expression>mark {
  cursor: pointer;
  border-radius: 2px;
}


/*.loader {
    border: 3px solid var(--dark);
    border-top-color: var(--darkerMain);
    border-bottom-color: var(--darkerMain);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.spacer {
  flex: 1 1 auto;
}

pre {
  // padding: 5px;
  &>.string {
    color: green;
  }
  &>.number {
    color: darkorange;
  }
  &>.boolean {
    color: blue;
  }
  &>.null {
    color: magenta;
  }
  &>.key {
    color: red;
  }
}

.table-actions {
  margin-bottom: 2rem;
  td {
    &.shrink {
      width: 25%;
    }
    &.expand {
      width: 50%;
    }
  } // display: flex;
  // align-items: flex-end;
  // margin-bottom: $gutterSize/2;
  // form {
  //   .mat-input-wrapper {
  //     margin-bottom: 14px !important;
  //   }
  // }
}



app-error-panel,
app-success-panel {
  z-index: 10;
  width: 50rem;
  max-width: 90%;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.pointer{
  cursor: pointer;
}
