@import '../theme/palettes';
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($moonshot-blue);
$app-accent: mat-palette($mat-purple);
$app-warn: mat-palette($moonshot-red);
// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
// Other colors
$background: #e3e5e7;
$foreground: rgba(133, 133, 133, 0.972);
$chip: #696969;
$link: $primary;
$pale: #c0baba;
$hover: rgba(0, 0, 0, .04);
$border-color: #dde1e4;
$disabled: #f8f8f8;

// Font
$font-main: "\"SharpSansDisplayNo1\", -apple-system, system-ui, BlinkMacSystemFont, \"Segoe UI\", \"Helvetica Neue\", Arial, Ubuntu, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\"";
// Animations
$transition: .3s ease-in-out;


// Global horizontal & vertical gutters
$gutter-hor: 3rem;
$gutter-ver: 4rem;
// Sizes
$aside-width: 30rem;
$toolbar-height: 6rem;
$block-line-lg-height: 5rem;
$block-line-md-height: 2rem;
$block-line-md-padding: 0 0.3rem;
$input-gutter: 1.5rem;
// css custom properties
:root {
  /* Colors */
  --color-primary: #{mat-color($app-primary)};
  --color-background: #{$background};
}

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$moonshot-typography: mat-typography-config( 
  $font-family: unquote($font-main),
  
  $display-4: mat-typography-level(10rem, 1, 600),
  /*$display-3: mat-typography-level(5.6rem, 1.3, 600),
  $display-2: mat-typography-level(4.5rem, 1.3, 600),
  $display-1: mat-typography-level(3.4rem, 1.3, 600),*/

  $headline: mat-typography-level(4.8rem, 1.3, 600),
  $title: mat-typography-level(3.6rem, 1.3, 500),
  $subheading-2: mat-typography-level(2.4rem, 1.3, 500),
  $subheading-1: mat-typography-level(1.8rem, 1.3, 600), 

  $body-1: mat-typography-level(1.4rem, 1.8, 500), 
  $body-2: mat-typography-level(1.6rem, 1.8, 600), 
  $caption: mat-typography-level(1.2rem, 1.8, 500),

  $button: mat-typography-level(1.6rem, 1, 500),
  $input: mat-typography-level(1.6rem, 1, 600)

);

// // Fonts for handset width screens
$moonshot-typography-handset: mat-typography-config( 

  $headline: mat-typography-level(2rem, 1.3, 600),
  $title: mat-typography-level(1.6rem, 1.3, 500)

);