@import '../../../../assets/styles/main/mixins';
@import '../../../../assets/styles/theme/palettes';
@import '../../../../assets/styles/main/variables';



mat-sidenav {
  width: 20rem;
  background-color: rgba(16, 16, 51, 0.89);
  color: white;
}

.active {
  color: $primary;
}

.sidenav-container {
  min-height: 100vh;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1; 
  padding: 2rem;
  background-color: $background;
}



main {
  display: flex;
  flex-direction: column;

  >*:not(router-outlet) {

    flex: 1; // child will set to an equal size inside the container
    display: block;

  }
}

.menu-items-layout {
  height: calc(100% - 5rem);
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  @include flex-flow(column);
  @include flex-order(center, baseline);

  @include flex-self(space-between, auto);

  div {
    @include flex-flow(column);
    @include flex-order(center, baseline);
    @include flex-self(space-between, auto);

    a {
      margin: 1rem 0;
      font-weight: 600;
    }
  }
}
