
<div class="container" >
  <div>
    <mat-card>
      <mat-card-content>
        <div class="container" >
          <div>
            <mat-horizontal-stepper linear="true" #stepper>
              <mat-step [stepControl]="targeting">
                <ng-template matStepLabel>Targeting</ng-template>
                <app-targeting-form></app-targeting-form>
                <div>
                  <button mat-button matStepperNext type="button" [disabled]="!targetingComponent?.form.valid">Next</button>
                </div>
              </mat-step>

              <mat-step [stepControl]="segment">
                <ng-template matStepLabel>Segment</ng-template>
                <app-segment-form></app-segment-form>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext (click)="getSummeryData()" [disabled]="!segmentComponent?.form.valid">Next</button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Summery</ng-template>
                <app-summery [data]="summeryData"></app-summery>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="saveCampaign()">Save</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>



