<div class="loginLayout">
  <div class="header loginHeader">
    <h3>Login</h3>
    <p *ngIf="error" class="error" >{{error.message}}</p>
  </div>
  <div class="formLayout">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="loginFormControls.email.invalid && 
      (loginFormControls.email.dirty || loginFormControls.email.touched)">
          {{getEmailError()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="loginFormControls.password.invalid && 
      (loginFormControls.password.dirty || loginFormControls.password.touched)">
          {{ getPasswordError()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <span>OR</span>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="loginWithGoogle()">Login With Google</button>
    </div>
  </div>
</div>
