@import '../../../../../assets/styles/main/variables';
@import '../../../../../assets/styles/main/mixins';

$border-width:2px;

.pageLayout {
  @include display-grid;
  @include grid-repeat(3, 0);
}

.header {
  grid-row: 1;
  color: $primary;
  h3{
    font-weight: 500;
  }
}

.actions {
  grid-row: 2;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  border-bottom: $border-width solid $pale;

  .mat-form-field {
    width: 20rem !important;
  }

  button {
    margin: 1rem;
    border-color: $primary;
  }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0 !important;
}

.gridContainer {
  grid-row: 3;

}
