// stepper header

$state-number-color:#2093d6;
$state-number-invalid:#7bb6d8;



.mat-stepper-horizontal {
  background-color: $foreground !important;
}

.mat-horizontal-content-container {
  padding: 0 0 1rem 0 !important;

}


.mat-horizontal-stepper-header-container {
  position: relative;
  background-color: $foreground;
  min-height: 10rem !important;

  .mat-horizontal-stepper-header {
    box-sizing: border-box !important;
    flex-direction: column-reverse !important;
    height: auto;
    padding: 24px !important;
}

  .mat-step-header {
    position: absolute !important;
    z-index: 10;

    &:nth-child(1) {
      left: 15%;
    }

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(5) {
      left: 85%;
    }
  }

  .mat-stepper-horizontal-line {
    position: absolute;
    top: 62%;
    width: 100%;
    border-color: $state-number-color;
    background-position: left !important;
    background-size: 1px 10px !important;
    background-repeat: repeat-y !important;
    border-top-style: dotted;
    border-top-width: 4px;
    margin: 0 -3px;
    z-index: 1;
    opacity: 30%;
  }

}

.mat-horizontal-stepper-header {
  .mat-step-label {
    font-weight: bold;
    padding: 0px 0px 16px !important;
  }
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: $state-number-color !important;

}

.mat-horizontal-stepper-header .mat-step-icon {
  height: 3rem !important;
  width: 3rem !important;
  border: solid 0.3rem !important;
  background-color: $state-number-invalid;

  .mat-step-icon-content {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
  }
}


// stepper button control
.right-step-button {
  float: right;
  margin: 1.5rem 2rem !important;
  min-width: 10rem !important;
  .mat-icon{
    color:white;
  }
}

.left-step-button{
  float: left;
  margin: 1.5rem 2rem !important;
}
