$moonshot-blue: (
    50 : #e0f3fb,
    100 : #b3e2f5,
    200 : #80cfee,
    300 : #4dbbe7,
    400 : #26ade1,
    500 : #009edc,
    600 : #0096d8,
    700 : #008cd3,
    800 : #0082ce,
    900 : #0070c5,
    A100 : #edf6ff,
    A200 : #baddff,
    A400 : #87c5ff,
    A700 : #6eb8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$moonshot-red: (
    50 : #faeaee,
    100 : #f4cad4,
    200 : #eca7b8,
    300 : #e4849b,
    400 : #df6985,
    500 : #d94f70,
    600 : #d54868,
    700 : #cf3f5d,
    800 : #ca3653,
    900 : #c02641,
    A100 : #fffdfe,
    A200 : #ffcad3,
    A400 : #ff97a7,
    A700 : #ff7e92,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
